@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  height: 100dvh;
  background: #0C0C0C;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 100%;
  max-width: 550px;
  margin: 40px;
  position: relative;
}
.content{
  position: relative;
  background-color: #9B3922;
  width: 100%;
  padding: 40px 20px;
  border-radius: 10px;
}
.coin{
  width: 150px;
  height: 150px;
  position: relative;
  margin: 60px auto;
  transform-style: preserve-3d;
}
.coin img{
  width: 100%;
}
.head-img-container, .tails-img-container{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.tails-img-container{
  transform: rotateX(180deg);
}
@keyframes spin-tails {
  0% {
    transform: rotateX(0) scale(1);
  }
  50% {
    transform: rotateX(900deg) scale(2);
  }
  100% {
    transform: rotateX(1990deg) scale(1);
  }
}
@keyframes spin-heads {
  0% {
    transform: none;
  }
  50% {
    transform: scale(2) rotateX(1080deg);
  }
  100% {
    transform: none rotateX(2160deg);
  }
}
.stats{
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #101020;
  flex: 1;
  font-weight: 500;
  font-size: 1.2rem;
  top: 10px;
  color: white;
}
.money-stats-containter{
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}
.money-stats{
  font-size: 1.2rem;
}
.js-result-container {
  position: absolute;
  top: 5%;
  left: 50%; 
  transform: translate(-50%, -50%);
  color: white;
}
.bet-stats-containter{
  position: absolute;
  top: 280px;
  left: 50%; 
  transform: translateX(-50%);
  font-size: 1.2rem;
  color: white;
}
.js-result{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  font-size: 1.5rem;
}
.head-container{
  flex: 1;
}
.tail-container{
  display: flex;
  flex: 1;
}
.play-buttons{
  display: flex;
  gap: 10px;
}
.bet-button-content{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.bet-button{
  flex: 1 0 100px;
  display: flex;
  border: none;
  background-color: #F2613F;
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  justify-content: center;
  color: white;
  cursor: pointer;
}
.pick-button{
  width: 100%;
  padding: 15px 0;
  border: none;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  background-color: #481E14;
  cursor: pointer;
}
.bet-button:active{
  opacity: .5;
}
.pick-button:active{
  opacity: .5;
}
